/*
  THEME SPECIFICS:
    Primary color: #AD0401 (dark red)
  */
/*font implementation*/
html {
    position: relative;
    min-height: 100%;
}

html, body, main, header, footer {
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 1.8rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

.sm-image {
    width: 42px;
    height: 38px;
}

.companyImage {
    height: 50px;
    margin: 0 0.5em 0 0.5em;
}

.title-image {
    width: 100%;
    max-width: 2000px;
}

.dropdown-content a:hover {
    color: white;
    background-color: #E9E9E9;;
}

.active {
    font-weight: bold;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;;
    color: black;
    display: flex;
    flex-direction: column;
}

#main {
    color: #2E2A2B;
    flex: 1 0 auto;
}

.arrow_box {
    display: block;
    color: white;
    position: relative;
    height: 5%;
    text-align: center;
    line-height: 30px;
    width: auto;
    transition: all 0.3s ease-in;
}

.carousel {
    min-height: 80vh;
}

.card .card-title {
    vertical-align: text-top !important;
    font-size: 30px;
}

.card {
    margin: 0;
    border: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #E9E9E9;;

}

.container {
    width: 80%;
    padding: 3%;
}

nav ul .idea-logo:hover {
    background: none;
}

nav ul a {
    color: #2E2A2B;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #2E2A2B;
}

.idea-logo {
    /*padding: 3%;*/
    display: flex;
    margin: 10%;
    width: 50px;
    height: 50px;
}

#footer {
    margin: 0;
    padding: 0;
    overflow: auto;
<!-- HERE -->
}

.main-container {
    margin: 5% 3% 3%;
    padding: 0 10% 10%;
}

.box {
    z-index: 100;
    padding: 3% 10% 0;
    background: rgba(264, 264, 264, 100);
    width: 100%;
    border-bottom: 20px solid white;
}

.team-image {
    filter: brightness(70%);
    z-index: -5;
    position: fixed;
}

.team-header {
    width: 100%;
    color: white;
    box-shadow: 0 4px 2px -2px gray;
}

.banner {
    font-style: oblique;
    margin-top: 5%;
    border-right: 5px solid white;
    padding: .5%;
    width: auto;
    color: white;
    z-index: 100;
    background: #E9E9E9;;
    position: relative;
    float: right;
}

.no-hover-bg:hover {
    background: None;
}

.front-text {
    z-index: 100;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel .carousel-item img {
    z-index: -5;
    filter: brightness(60%);
    width: 100%;
    height: 100%;
}

.carousel-buttons {
    margin-top: 5%;
    vertical-align: bottom;
    border-radius: 25px;
}

.page-footer {
    padding-top: 0;
    z-index: 999;
    bottom: 0;
    width: 100%;
    color: black;
    border-top: 3px solid #E5E5E5;
}

.page-footer {
    max-height: 1vh;
}

.page-footer .footer-copyright {
    border-top: 3px solid #E5E5E5;
    color: white;
    bottom: 0;
    min-height: 1vh;
    background-color: #E97923;
    text-align: center;
}

.about-font {
    font-size: 20px;
}

.airtable-embed {
    padding-top: 1%;
    height: 100%;
    min-height: 83vh;
}

iframe {
    display: block;
    background: #000;
    border: none;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 993px) {
    .mobile-nav {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
    .mobile-nav {
        display: inline-block;
    }
}



.sidenav .collapsible-header, .sidenav.fixed .collapsible-header {
    padding: 0 32px; !important;
}
