<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A student-run venture accelerator">
    <meta name="author" content="IDEA: Northeastern University's Venture Accelerator">

    <title>IDEA Projects Board</title>

    <link rel="icon" type="image/png" href="../static/styles/images/fav/favicon.ico"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="../static/styles/css/style.css" rel="stylesheet">
    <link href="static/styles/placement_banner.css" rel="stylesheet">
</head>
<body>
<header>
    <ul id="slide-out" class="sidenav">
        <li class="nav-item">
            <a href="https://www.northeastern.edu/idea/">Home<i class="material-icons">home</i></a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('projects') }}">Projects<i class="material-icons">library_books</i></a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('support') }}">Support<i class="material-icons">keyboard_arrow_up</i></a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('about') }}">About<i class="material-icons">info square fill</i></a>
        </li>
        <li><a class="sidenav-close" href="#!">Close<i class="material-icons">close</i></a></li>
    </ul>
    <div class="navbar-fixed">
        <nav style="background: white" class="nav-center">
            <div class="nav-wrapper white" style="color: #E9E9E9;">
                <ul style="padding-right: 1% " class="navbar-fixed hide-on-med-and-down">
                    <li>
                        <a class="no-hover-bg" href="https://www.northeastern.edu/idea/"><img class="idea-logo"
                                                                                              src="../static/styles/images/logo.jpg"></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('projects') }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('support') }}">Support</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                </ul>
                <a class="mobile-nav no-hover-bg" href="https://www.northeastern.edu/idea/"><img class="idea-logo"
                                                                                                 src="../static/styles/images/logo.jpg"></a>
                <a style="color: black" href="#" data-target="slide-out" class="mobile-nav sidenav-trigger"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
</header>
<main>
    <div style="margin: 0 auto; padding: 100px">
        ABOUT ABOUT ABOUT Hi
    </div>
</main>
<footer class="page-footer white">
    <div class='angellist_embed' data-startup_id='16683'><a
            href='https://angel.co/company/yourmechanic?utm_medium=web&utm_campaign=individual_embed&utm_content=16683'></a>
    </div>
    <script type='text/javascript' src='https://angel.co/company/yourmechanic/embed/angellist.js?jobs=true'></script>
    <div style="text-align: center" class="container">
        <div>
            <a style="background: #2867B2; margin: 5px;"
               href="https://www.linkedin.com/company/idea-northeastern%27s-venture-accelerator"
               class="waves-effect waves-light btn-floating social linkedin">
                <i class="fa fa-linkedin"></i></a>
            <a style="background: #4267B2; margin: 5px;" href="https://www.facebook.com/IDEA.NEU/"
               class="waves-effect waves-light btn-floating social facebook">
                <i class="fa fa-facebook"></i></a>
            <a style="background: #24292E; margin: 5px;" href="https://medium.com/nuidea"
               class="waves-effect waves-light btn-floating social medium">
                <i class="fa fa-medium"></i></a>
            <a style="background: #24292E; margin: 5px;" href="https://github.com/CrizR"
               class="waves-effect waves-light btn-floating social github">
                <i class="fa fa-github"></i></a>
        </div>
    </div>
    <div style="text-align: center;font-size: 12px;">
        © IDEA: Northeastern University's Venture Accelerator 2019
    </div>
</footer>
</body>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
        $(".dropdown-trigger").dropdown();
    });
</script>
</html>

